md-grid-list
    md-grid-tile(ng-repeat="trade in trades")
        div {{trade.date}}
        div {{trade.symbol}}
        div {{trade.direction}}
        div {{trade.quantity}}
        div {{trade.price}}
