md-toolbar.md-hue-3(layout="row")
    .md-toolbar-tools Trades
md-button.md-raised Add
md-grid-list(md-cols=5, md-gutter="12px", md-row-height="24px")
    rl-trades-list-header
    rl-trades-list-row(ng-repeat="trade in trades")
