md-grid-tile
    md-grid-tile-header
        h2 Date
md-grid-tile
    md-grid-tile-header
        h2 Symbol
md-grid-tile
    md-grid-tile-header
        h2 Direction
md-grid-tile
    md-grid-tile-header
        h2 Quantity
md-grid-tile
    md-grid-tile-header
        h2 Price
