md-card
    md-card-title
        md-card-title-text Trades
    md-card-content(layout="row")
        md-button.md-raised Add
        md-grid-list(md-cols=5, md-gutter="12px")
            rl-list-item-headers
            rl-list-item-row(ng-repeat="trade in trades")
