doctype html
html(lang="en")
    head
        meta(charset="utf-8")/
        meta(http-equiv="X-UA-Compatible", content="IE=edge")/
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")/
        each size in [16, 24, 32, 48, 57, 64, 72, 113, 120, 144, 152]
            link(rel="icon", href=`/assets/images/favicons/g${size}.png`, type="image/png", sizes=`${size}x${size}`)/

        //- vendor:css
        //- endinject
        //- bundle:css
        //- endinject
    body(ng-app="TopLevelApp" layout="column" ng-cloak)
        md-content.md-padding(layout-xs="column" layout="row" ng-controller="MainController")
            rl-trades-list/

        //- vendor:js
        //- endinject
        //- bundle:js
        //- endinject
