doctype html
html(lang="en")
    head
        meta(charset="utf-8")/
        meta(http-equiv="X-UA-Compatible", content="IE=edge")/
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")/
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")/
        link(rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue-pink.min.css")/
        script(defer, src="https://code.getmdl.io/1.1.3/material.min.js")

        each size in [16, 24, 32, 48, 57, 64, 72, 113, 120, 144, 152]
            link(rel="icon", href=`/assets/images/favicons/g${size}.png`, type="image/png", sizes=`${size}x${size}`)/

        //- vendor:css
        //- endinject
        //- bundle:css
        //- endinject
    body(ng-app="rlApp", ng-cloak)
        ng-view

        //- vendor:js
        //- endinject
        //- bundle:js
        //- endinject
